
    <nav class="navbar navbar-expand-lg bg-warning fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Selamat Datang Admin | <b>Sekolah Dian</b></a>
            <form class="d-flex" role="search">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="icon">
                <h4>
                    <i class="fas fa-envelope mr-5" data-toggle="tooltip" title="Surat Masuk"></i>
                    <i class="fas fa-bell" data-toggle="tooltip" title="Notifikasi"></i>
                    <i class="fas fa-sign-out-alt" data-toggle="tooltip" title="Log Out"></i>
                </h4>
            </div>
          </div>
        </div>
      </nav>

      <div class="row no-gutters mt-5">
        <!-- menu -->
        <div class="col-md-2 bg-dark mt-2 pr-3 pt-4">
            <ul class="nav flex-column ml-3 mb-5">
                <li class="nav-item">
                  <a class="nav-link active text-white" aria-current="page" href="admin.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="siswa.html"><i class="fas fa-user-graduate"></i> Siswa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="guru.html"><i class="fas fa-chalkboard-teacher"></i> Guru</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="berita.html"><i class="fas fa-newspaper"></i> Berita</a>
                  </li>
              </ul>
        </div>
        <div class="col-md-10 p-5 pt-5">
            <h3><i class="fas fa-tachometer-alt"></i> DASHBOARD</h3>
            <hr>

            <div class="row text-white">
                <div class="card bg-info" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <h5 class="card-title">Jumlah Siswa</h5>
                        <div class="display-4" style="font-weight: bold;">1.200</div>
                        <a href="#"><p class="card-text text-white mr-4">Lihat Detail <i class="fas fa-angle-double-right"></i></p></a>
                    </div>
                </div>
                
                <div class="card bg-success" style="width: 18rem; margin-left: 2rem;">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <h5 class="card-title">Jumlah Guru</h5>
                        <div class="display-4" style="font-weight: bold;">68</div>
                        <a href="#"><p class="card-text text-white mr-4">Lihat Detail <i class="fas fa-angle-double-right"></i></p></a>
                    </div>
                </div>
            </div>
        </div>
      </div>