<!-- header section starts -->
<header>

  <a href="#" class="logo"><i class="fas fa-school"></i> Sekolah</a>

  <nav class="navbar">
    <a class="active" href="#home">home</a>
    <a href="#berita">berita</a>
    <a href="#profil">profil</a>
    <a href="#data">Data</a>
    <a href="#galery">Galery</a>
  </nav>

  <div class="icons">
    <i class="fas fa-bars" id="menu-bars"></i>
    <i class="fas fa-search" id="search-icon"></i>
    <a href="admin.html" class="fas fa-user"></a>
  </div>

</header>

<!-- header section ends-->

<!-- search form  -->

<form action="" id="search-form">
  <input type="search" placeholder="search here..." name="" id="search-box" />
  <label for="search-box" class="fas fa-search"></label>
  <i class="fas fa-times" id="close"></i>
</form>

<!-- home section starts  -->

<section class="home" id="home">

  <div class="swiper-container home-slider">

    <div class="swiper-wrapper wrapper">

      <div class="swiper-slide slide">
        <div class="content">
          <span>Ayo kita ke Sekolah</span>
          <h3>Sekolah Dian</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
          <a href="#" class="btn">order now</a>
        </div>
        <div class="image">
          <img src="images/sekolah.png" alt="" />
        </div>
      </div>

      <div class="swiper-slide slide">
        <div class="content">
          <span>Ayo kita ke Sekolah</span>
          <h3>Sekolah Dian</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
          <a href="#" class="btn">lebih lanjut</a>
        </div>
        <div class="image">
          <img src="images/sekolah.png" alt="" />
        </div>
      </div>

      <div class="swiper-slide slide">
        <div class="content">
          <span>Ayo kita ke Sekolah</span>
          <h3>Sekolah Dian</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
          <a href="#" class="btn">lebih lanjut</a>
        </div>
        <div class="image">
          <img src="images/sekolah.png" alt="" />
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

  </div>

</section>

<!-- home section ends -->

<section class="berita" id="berita">

  <h3 class="sub-heading"> Berita Sekolah </h3>
  <h1 class="heading"> Lihat Berita Tebaru Sekolah</h1>

  <div class="box-container">

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="images/sejarah.png" alt="" />
      <h3>Sejarah</h3>
      <a href="#" class="btn">lebih lanjut</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="images/news.png" alt="" />
      <h3>Berita</h3>
      <a href="#" class="btn">lebih lanjut</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="images/achievements.png" alt="" />
      <h3>Prestasi</h3>
      <a href="#" class="btn">lebih lanjut</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="images/alumni.png" alt="" />
      <h3>Alumni</h3>
      <a href="#" class="btn">lebih lanjut</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="images/guru.png" alt="" />
      <h3>Staf Pengajar</h3>
      <a href="#" class="btn">lebih lanjut</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="images/siswa.png" alt="" />
      <h3>Siswa</h3>
      <a href="#" class="btn">lebih lanjut</a>
    </div>

  </div>

</section>

<!-- about section starts  -->

<section class="profil" id="profil">

  <h3 class="sub-heading">Profil Sekola</h3>
  <h1 class="heading"> Visi Misi Sekolah </h1>

  <div class="row">

    <div class="image">
      <img src="images/logo.png" alt="" />
    </div>

    <div class="content">
      <h3>Sekolah Dian</h3>
      <p>Visi Sekolah Dian dirumuskan sebagai berikut :"Terwujudnya sekolah yang mampu melahirkan peserta
        didik Beriman dan Bertakwa, Berakhlak Mulia, Berilmu, Berwawasan Kebangsaan dan Global"</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, nemo. Sit porro illo eos cumque
        deleniti iste alias, eum natus.</p>
      <a href="#" class="btn">learn more</a>
    </div>
  </div>
</section>

<section class="galery" id="galery">

  <h3 class="sub-heading">Galery</h3>
  <h1 class="heading">Dokumentasi Kegiatan Siswa</h1>

  <div class="swiper-container review-slider">

    <div class="swiper-wrapper">

      <div class="swiper-slide slide">
        <div class="user">
          <img src="images/paskibra.png" alt="" />
        </div>
        <h3>Kegiatan Paskribra</h3>
      </div>

      <div class="swiper-slide slide">
        <div class="user">
          <img src="images/paskibra.png" alt="" />
        </div>
        <h3>Kegiatan Paskribra</h3>
      </div>

      <div class="swiper-slide slide">
        <div class="user">
          <img src="images/paskibra.png" alt="" />
        </div>
        <h3>Kegiatan Paskribra</h3>
      </div>

      <div class="swiper-slide slide">
        <div class="user">
          <img src="images/paskibra.png" alt="" />
        </div>
        <h3>Kegiatan Paskribra</h3>
      </div>

    </div>

  </div>

</section>

<!-- footer section starts  -->

<section class="footer">

  <div class="box-container">

    <div class="box">
      <h3>Data Sekolah</h3>
      <a href="#">Jl. Lintas Jambi-Muara Bulian Km. 21</a>
      <a href="#">admin@sekolah.sch.id</a>
    </div>

    <div class="box">
      <h3>quick links</h3>
      <a href="#">home</a>
      <a href="#">profil</a>
      <a href="#">fitur</a>
      <a href="#">data</a>
      <a href="#">galery</a>
      <a href="#">Pendaftaran</a>
    </div>

    <div class="box">
      <h3>contact info</h3>
      <a href="#">08123456789</a>
      <a href="#">sekolah@gmail.com</a>
      <a href="#">Jambi, Indonesia</a>
    </div>

    <div class="box">
      <h3>follow us</h3>
      <a href="#">facebook</a>
      <a href="#">twitter</a>
      <a href="#">instagram</a>
      <a href="#">linkedin</a>
    </div>

  </div>

  <div class="credit"> copyright @ 2022 by <span>Dian</span> </div>

</section>

<!-- footer section ends -->

<!-- loader part  -->
<!-- <div class="loader-container">
    <img src="images/loader.gif" alt="">
</div> -->